@import "../function.scss";

.faqContainer {
  padding: 5rem;
  @include tablet {
    padding: 2rem;
  }
  .faqContent {
    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    .faqLeft {
      padding: 5rem;
      width: 60rem;

      @include tablet {
        width: fit-content;
      }

      .AccordianItem {
        background-color: #f7f5fd;
        border-radius: 10rem;
        margin-top: 2rem;
      }
    }

    ul {
      list-style: none;
      text-align: center;
      li {
        margin-top: 2rem;
      }
    }

    .bottom {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;

      @include tablet {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    // upper
    .upper {
      .title {
        h5 {
          color: red;
          font-size: 1.9rem;
        }
      }
      // heading

      .heading {
        font-size: 4rem;
        font-weight: bold;
        @include tablet {
          font-size: 2.5rem;
        }
      }

      //   paragraph
      .paragraph {
        p {
          line-height: 2.5rem;
          color: #83858a;
        }
      }

      //   design

      .design {
        & :nth-child(1) {
          background-color: #fab4a2;
          height: 0.4rem;
          width: 9rem;
        }

        & :nth-child(2) {
          background-color: #ff724e;
          height: 0.4rem;
          width: 4rem;
          margin-left: 2rem;
        }
        span {
          display: inline-block;
        }
      }
    }
  }
}
