@import "../function.scss";

.swiper {
  width: 100%;
  height: 100%;
}

.right {
  ul {
    list-style: none;
    li {
      text-align: center;
      margin-top: 2rem;
    }
  }

  .title {
    h5 {
      color: red;
      font-size: 1.9rem;
    }
  }

  .car {
    margin-top: 2.5rem;
  }
  // heading

  .heading {
    font-size: 4.5rem;
    @include tablet {
      font-size: 2.5rem;
    }
  }

  //   design

  .design {
    & :nth-child(1) {
      background-color: #fab4a2;
      height: 0.4rem;
      width: 9rem;
    }

    & :nth-child(2) {
      background-color: #ff724e;
      height: 0.4rem;
      width: 4rem;
      margin-left: 2rem;
    }
    span {
      display: inline-block;
    }
  }
}

.mySwiper {
  padding: 3rem;

  @include tablet {
    padding: 2rem;

    @include mobile {
      padding: 0.5rem;
    }
  }
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
