@import "./function.scss";

.adsContainer {
  margin-top: 5rem;
  background-color: #f6f5fb;
  min-height: 15rem;
  ul {
    list-style: none;
  }
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;

  @include tablet {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }

  .adsLeft {
    li {
      margin-top: 1.5rem;

      h1 {
        font-size: 3rem;
      }

      p {
        color: #7781ba;
      }
    }
  }

  .adsRight {
    ul {
      display: flex;

      @include tablet {
        flex-direction: column;
        text-align: center;
        li {
          margin-top: 3rem;
        }
      }
      input {
        padding: 1rem;
        border: none;
        height: 5rem;
        border-radius: 1rem;
        width: 40rem;
      }

      button {
        background: none;
        border: none;
        height: 5rem;
        border-radius: 1rem;

        width: 15rem;
        background-color: #e3202d;
        color: white;
        font-size: 1.4rem;
      }
    }
  }
}
