@import "./function.scss";

.testinomialContainer {
  padding: 5rem;

  @include tablet {
    padding: 2rem;

    @include mobile {
      padding: 1rem;
    }
  }
  .testinomal {
    min-height: 90vh;
    @include flex(space-between);
    flex-wrap: nowrap;

    @include tablet {
      flex-direction: column;
    }

    // display: grid;
    // place-items: center;

    // grid-template-columns: repeat(2, 1fr);
    // @include tablet {
    //   grid-template-columns: repeat(1, 1fr);
    //   grid-gap: 0rem;
    //   @include mobile {
    //     grid-template-columns: repeat(1, 1fr);
    //     grid-gap: 0rem;
    //   }
    // }
    ul {
      list-style: none;
    }
    // title
    .title {
      h5 {
        color: red;
        font-size: 1.9rem;
      }
    }

    // heading

    .heading {
      font-size: 3rem;
      @include tablet {
        font-size: 1.8rem;
      }
    }

    //   paragraph
    .paragraph {
      p {
        line-height: 2.5rem;
        color: #83858a;
      }
    }

    //   design

    .design {
      & :nth-child(1) {
        background-color: #fab4a2;
        height: 0.4rem;
        width: 9rem;
      }

      & :nth-child(2) {
        background-color: #ff724e;
        height: 0.4rem;
        width: 4rem;
        margin-left: 2rem;
      }
      span {
        display: inline-block;
      }
    }

    .left {
      ul {
        li {
          margin-top: 2rem;
        }
      }
    }
  }
}
